html {
    font-family:Poppins, monospace, sans-serif;
    background-color:black;
}
.header{
    background-color:darkgray;
    overflow:hidden;  
    width:inherit;
}
h1{
    width:25%;
    margin:0;
    padding: 10px 0px 0px 15px;
    float:left;
}
ul.navBar{
    display:inline-flex;
    list-style-type: none;
    float:right
}
ul.navBar li a{
    padding:20px;
    color:aliceblue;
    text-decoration: none;
}
#downloadIcon{
    width:25px;
    float:right;
}
